%div{:class => "#{local_assigns.has_key?(:parent_class) ? parent_class : 'idea' } #{h idea.color}", "data-id" => idea.id}
  %h3= h idea.name
  %ul.edit-links
    %li= link_to 'Show', idea
    %li= link_to 'Edit', edit_idea_path(idea)
    %li= link_to 'Destroy', idea, :confirm => 'Are you sure?', :method => :delete
  - idea.children.each do |child|
    = render :partial => 'idea', :locals => {:idea => child}